altgraph==0.15
audioread==2.1.5
backports.functools-lru-cache==1.5
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
enum34==1.1.6
funcsigs==1.0.2
joblib==0.11
librosa==0.6.0
llvmlite==0.21.0
macholib==1.9
matplotlib==2.1.0
modulegraph==0.16
numba==0.36.2
numpy==1.14.1
pandas==0.15.0
py2app==0.14
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
